<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value="" />
            </transactionManager>
            <dataSource type="com.voyager.kylin.KylinDruidDataSource">
                <property name="driver" value="org.apache.kylin.jdbc.Driver" />
                <property name="url" value="jdbc:kylin://slave001:7000/QLYOM" />
                <property name="username" value="ADMIN" />
                <property name="password" value="KYLIN"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="qlyom.xml" />
    </mappers>

</configuration>
